@import "./../../common";
.e-button{
    user-select: none;
    min-width: 2rem;
    padding: 4px 8px;
    background: none;
    outline: 0;
    min-height: 30px;
    transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
    -ms-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    -webkit-transition: all ease-in-out .3s;
    border: 1px solid $color-ddd;
    border-radius: 3px;
    font-size: 14px;
    &:hover{
        cursor: pointer;
    }
    &-small {
        min-width: 3rem;
        padding: 2px 6px;
        font-size: 12px;
    }
    &-large {
        min-width: 6rem;
        padding: 8px 12px;
        font-size: 17px;
        border-radius: 5px;
    }
    &-default{
        color: $color-666;
        border: 1px solid $color-ddd;
        &:hover{
            background: rgba(240,240, 240, .3);
        }
    }
    &-primary,&.primary{
        color: $color-fff;
        background: $color-primary;
        border: 1px solid $color-primary;
        &:hover{
            opacity: .8;
        }
    }
    &-success,&.success{
        color: $color-fff;
        background: $color-success;
        border: 1px solid $color-success;
        &:hover{
            opacity: .8;
        }
    }
    &-warning,&.warning{
        color: $color-fff;
        background: $color-button-warning;
        border: 1px solid $color-warning;
        &:hover{
            opacity: .8;
        }
    }
    &-error,&.error{
        color: $color-fff;
        background: $color-button-error;
        border: 1px solid $color-error;
        &:hover{
            opacity: .8;
        }
    }
    &-light,&.light{
        color: $color-primary;
        border: 1px solid $color-primary;
        &:hover{
            color: $color-light-blue;
        }
    }
}
.e-buttongroup{
    .e-button{
        border-radius: 0;
        background: #fff;
        border-color: #ddd;
        color: #666666;
        transition: color ease-in-out .3s;
        font-size: 12px;
        &.active{
            background: #2196f3;
            border-color: #2196f3;
            color: #fff;
            margin-left: -1px;
        }
        &:hover{
            opacity: 1;
        }
        &:first-child{
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }
        &:last-child{
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }
    }
    .e-button:not(:first-child){
        border-left: none;
    }
}