.e-container{
    &-title{
        border-left: 10px solid #2196f3;
        padding-left: 10px;
        color: #2196f3;
        border-bottom: 2px solid #2196f3;
    }
    &-subtitle{
        padding-left: 10px;
        color: #2196f3;
        margin-left: 10px;
    }
    &-subsubtitle{
        padding-left: 10px;
        color: #2196f3;
        margin-left: 20px;
    }
    .e-section-demo{
        display: flex;
    }
    .e-section-container{
        margin: 0 20px;
        padding: 0 10px;
    }
    .e-form{
        h6{
            margin: 1rem 0;
        }
    }
}

// publlic css
.e-mh-4{
    margin: 0 4px;
}
.e-mr-1rem{
    margin-right: 1rem;
}
.e-ml-1rem{
    margin-left: 1rem;
}
.e-ph-1rem{
    padding: 0 1rem;
}

::-webkit-scrollbar, ::-webkit-scrollbar-track {
    width: 10px;
    background: #e0e0e0;
}
::-webkit-scrollbar-thumb {
    background: #999;
}