@import "./../../common";
.e-navmenu{
    max-width: 256px;
    width: 256px;
    display: inline-block;
    border-right: 1px solid #ddd;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    .e-menuitem{
        line-height: 40px;
        color: rgba(0, 0, 0, 0.65);
        padding-right: 16px;
        padding-left: 20px;
        font-size: 14px;
        &-title{
            cursor: pointer;
            font-size: 15px;
            transition: all ease .4s;
            &-flag{
                transition: all ease .3s;
                float: right;
            }
            &.active .e-menuitem-title-flag{
                transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                -o-transform: rotate(180deg);
                -webkit-transform: rotate(180deg);
            }
        }
        &-flag {
            font-size: 13px;
            color: #bbb;
            line-height: 1.5;
        }
        &-list{
            padding-left: 8px;
            display: none;
            overflow: hidden;
            &.open{
                display: block;
            }
        }
    }
    .e-submenu{
        .e-menuitem-title{
            font-size: 14px;
        }
    }
    &.black{
        background: #333333;
        color: #fff;
        border-right: none;
        .e-menuitem{
            color: #fff;
        }
    }
}