@import "./../../common";
.e-radiobox{
    color: #606266;
    font-size: 14px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    user-select: none;
    &.active{
        .e-radiobox-inner {
            background-color: $color-primary;
            color: $color-fff;
            &:after{
                transform: scale(1);
            }
        }
    }
    &-inner{
        top: 2px;
        display: inline-block;
        position: relative;
        border: 1px solid #dcdfe6;
        border-radius: 2px;
        box-sizing: border-box;
        width: 14px;
        height: 14px;
        background-color: #fff;
        z-index: 1;
        border-radius: 50%;
        transition: border-color .25s cubic-bezier(.71,-.46,.29,1.46),background-color .25s cubic-bezier(.71,-.46,.29,1.46);
        &:after{
            box-sizing: content-box;
            content: "";
            border: 1px solid #fff;
            border-left: 0;
            border-top: 0;
            height: 3px;
            left: 4px;
            position: absolute;
            top: 4px;
            transform: scale(0);
            width: 3px;
            border-radius: 50%;
            transform-origin: center;
            transition: transform .25s cubic-bezier(.71,-.46,.29,1.46);
            background: #fff;
        }
    }
    &-content{
        padding-left: 8px;
    }
    .e-textbox{
        position: absolute;
        left: 0;
        width: .8rem;
        height: 1rem;
        opacity: 0;
        outline: none;
        z-index: -1;
    }
}